In [16]:
import os

import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_theme()

# Importar o dataset

In [17]:
data_path = '../data/' if os.path.exists('../data/') else 'https://raw.githubusercontent.com/kreativermario/Projeto-DECD/master/data/'

pordata_path = data_path + 'pordata_industrial.csv'

df_pordata = pd.read_csv(pordata_path, delimiter=';')

In [18]:
data_path = '../data/' if os.path.exists('../data/') else 'https://raw.githubusercontent.com/kreativermario/Projeto-DECD/master/data/'

concelhos_path = data_path + 'treated/merged-dataset-concelho-densidade.csv'

df_concelhos = pd.read_csv(concelhos_path)

### 2. Ver o dataset

In [19]:
df_pordata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308 entries, 0 to 307
Data columns (total 3 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Municipio                   308 non-null    object
 1   Indústrias extrativas       308 non-null    int64
 2   Indústrias transformadoras  308 non-null    object
dtypes: int64(1), object(2)
memory usage: 7.3+ KB

In [20]:
# Verificar nulls
null_counts = df_pordata.isnull().sum()

# Ver nulls por coluna
print("Número de nulls por coluna:")
print(null_counts)

df_pordata.head(15)

Número de nulls por coluna:
Municipio                     0
Indústrias extrativas         0
Indústrias transformadoras    0
dtype: int64

                Municipio  Indústrias extrativas Indústrias transformadoras
0       Arcos de Valdevez                      1                        129
1                 Caminha                      0                         98
2                 Melgaço                      0                         58
3                  Monção                     10                        154
4        Paredes de Coura                      0                         54
5          Ponte da Barca                      1                         58
6           Ponte de Lima                     14                        309
7                 Valença                     11                        124
8        Viana do Castelo                      6                        749
9   Vila Nova de Cerveira                      3                         75
10                 Amares                      0                        120
11               Barcelos                      4                      2 531
12                  Braga                     17                      1 294
13              Esposende                      6                        406
14        Terras de Bouro                      0                         11

In [21]:
df_pordata.describe()

       Indústrias extrativas
count             308.000000
mean                3.272727
std                 7.611300
min                 0.000000
25%                 0.000000
50%                 1.000000
75%                 3.000000
max                87.000000

### Comparar o número de concelhos (merged dataset) e municipios (pordata)

In [22]:
concelho_counts = df_concelhos['concelho'].value_counts()
print(concelho_counts)

concelho
Abrantes    19
Pombal      19
Porto       19
Portimão    19
Portel      19
            ..
Golegã      19
Gondomar    19
Gouveia     19
Grândola    19
Óbidos      19
Name: count, Length: 273, dtype: int64

### Merge dos concelhos com municipios

In [23]:
merged_df = pd.merge(df_concelhos, df_pordata, left_on='concelho', right_on='Municipio', how='inner')

merged_df.drop(columns=['Municipio'], inplace=True)

merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5187 entries, 0 to 5186
Data columns (total 18 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   concelho                                   5187 non-null   object
 1   ano                                        5187 non-null   int64
 2   mes                                        5187 non-null   int64
 3   energia_ativa_baixa_tensao_kwh             5187 non-null   int64
 4   energia_ativa_alta_tensao_kwh              5187 non-null   int64
 5   cpes_domestico_baixa_tensao                5187 non-null   int64
 6   cpes_domestico_alta_tensao                 5187 non-null   int64
 7   cpes_iluminacao_publica_baixa_tensao       5187 non-null   int64
 8   cpes_iluminacao_publica_alta_tensao        5187 non-null   int64
 9   cpes_nao_domestico_baixa_tensao            5187 non-null   int64
 10  cpes_nao_domestico_alta_tensao             5187 non-null   int64
 11  cpes_outros_baixa_tensao                   5187 non-null   int64
 12  cpes_outros_alta_tensao                    5187 non-null   int64
 13  cpes_mobilidade_eletrica_nao_baixa_tensao  5187 non-null   int64
 14  cpes_mobilidade_eletrica_sim_baixa_tensao  5187 non-null   int64
 15  densidade_populacional_pessoas_km2         5187 non-null   float64
 16  Indústrias extrativas                      5187 non-null   int64
 17  Indústrias transformadoras                 5187 non-null   object
dtypes: float64(1), int64(15), object(2)
memory usage: 729.6+ KB

In [24]:
merged_df.describe()

,ano,mes,energia_ativa_baixa_tensao_kwh,energia_ativa_alta_tensao_kwh,cpes_domestico_baixa_tensao,cpes_domestico_alta_tensao,cpes_iluminacao_publica_baixa_tensao,cpes_iluminacao_publica_alta_tensao,cpes_nao_domestico_baixa_tensao,cpes_nao_domestico_alta_tensao,cpes_outros_baixa_tensao,cpes_outros_alta_tensao,cpes_mobilidade_eletrica_nao_baixa_tensao,cpes_mobilidade_eletrica_sim_baixa_tensao,densidade_populacional_pessoas_km2,Indústrias extrativas
count,5187.000000,5187.000000,5.187000e+03,5.187000e+03,5187.000000,5187.000000,5187.000000,5187.0,5187.000000,5187.000000,5187.000000,5187.000000,5187.000000,5187.000000,5187.000000,5187.000000
mean,2022.842105,6.894737,6.518676e+06,6.888616e+06,18808.416426,0.040486,214.150183,0.0,4242.803933,95.497205,128.463852,0.365529,27371.181415,9.612300,314.549084,3.549451
std,0.586137,3.712284,1.177996e+07,1.426511e+07,29413.928256,0.211279,194.193563,0.0,6873.077695,121.267530,205.717131,4.073821,46187.414907,25.397713,856.174544,7.986467
min,2022.000000,1.000000,1.000680e+05,0.000000e+00,1042.000000,0.000000,7.000000,0.0,174.000000,0.000000,1.000000,0.000000,1144.000000,0.000000,4.300000,0.000000
25%,2022.000000,3.000000,1.266728e+06,4.113695e+05,4580.500000,0.000000,91.000000,0.0,1101.000000,28.000000,20.500000,0.000000,6151.000000,2.000000,24.700000,0.000000
50%,2023.000000,8.000000,2.625888e+06,1.824003e+06,8935.000000,0.000000,141.000000,0.0,1990.000000,51.000000,53.000000,0.000000,11544.000000,2.000000,66.400000,1.000000
75%,2023.000000,10.000000,7.113475e+06,5.962718e+06,21437.000000,0.000000,280.000000,0.0,4900.000000,119.000000,155.000000,0.000000,30042.000000,6.000000,176.700000,4.000000
max,2024.000000,12.000000,1.641353e+08,1.279470e+08,312095.000000,2.000000,1185.000000,0.0,79984.000000,1229.000000,2186.000000,75.000000,530262.000000,388.000000,7310.100000,87.000000

In [25]:
# Renomear a coluna
merged_df.rename(columns={'Indústrias extrativas': 'num_industrias_extrativas'}, inplace=True)
merged_df.rename(columns={'Indústrias transformadoras': 'num_industrias_transformadoras'}, inplace=True)

# Verificar se a coluna foi renomeada corretamente
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5187 entries, 0 to 5186
Data columns (total 18 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   concelho                                   5187 non-null   object
 1   ano                                        5187 non-null   int64
 2   mes                                        5187 non-null   int64
 3   energia_ativa_baixa_tensao_kwh             5187 non-null   int64
 4   energia_ativa_alta_tensao_kwh              5187 non-null   int64
 5   cpes_domestico_baixa_tensao                5187 non-null   int64
 6   cpes_domestico_alta_tensao                 5187 non-null   int64
 7   cpes_iluminacao_publica_baixa_tensao       5187 non-null   int64
 8   cpes_iluminacao_publica_alta_tensao        5187 non-null   int64
 9   cpes_nao_domestico_baixa_tensao            5187 non-null   int64
 10  cpes_nao_domestico_alta_tensao             5187 non-null   int64
 11  cpes_outros_baixa_tensao                   5187 non-null   int64
 12  cpes_outros_alta_tensao                    5187 non-null   int64
 13  cpes_mobilidade_eletrica_nao_baixa_tensao  5187 non-null   int64
 14  cpes_mobilidade_eletrica_sim_baixa_tensao  5187 non-null   int64
 15  densidade_populacional_pessoas_km2         5187 non-null   float64
 16  num_industrias_extrativas                  5187 non-null   int64
 17  num_industrias_transformadoras             5187 non-null   object
dtypes: float64(1), int64(15), object(2)
memory usage: 729.6+ KB

### Transformar as colunas em int

In [26]:
# Remover espaços em branco dos valores na coluna
merged_df['num_industrias_transformadoras'] = merged_df['num_industrias_transformadoras'].apply(lambda x: x.replace(' ', ''))
merged_df['num_industrias_transformadoras'] = merged_df['num_industrias_transformadoras'].astype(int)

merged_df.head()

,concelho,ano,mes,energia_ativa_baixa_tensao_kwh,energia_ativa_alta_tensao_kwh,cpes_domestico_baixa_tensao,cpes_domestico_alta_tensao,cpes_iluminacao_publica_baixa_tensao,cpes_iluminacao_publica_alta_tensao,cpes_nao_domestico_baixa_tensao,cpes_nao_domestico_alta_tensao,cpes_outros_baixa_tensao,cpes_outros_alta_tensao,cpes_mobilidade_eletrica_nao_baixa_tensao,cpes_mobilidade_eletrica_sim_baixa_tensao,densidade_populacional_pessoas_km2,num_industrias_extrativas,num_industrias_transformadoras
0,Abrantes,2022,8,5908716,5891542,20260,0,293,0,4318,134,83,0,22194,2,47.5,0,160
1,Abrantes,2022,9,5319528,6159115,20270,0,293,0,4311,134,81,0,22596,2,47.5,0,160
2,Abrantes,2022,10,5431060,6360625,20280,0,293,0,4302,134,81,0,23126,2,47.5,0,160
3,Abrantes,2022,11,5845742,5961164,20291,0,293,0,4308,134,80,0,23938,2,47.5,0,160
4,Abrantes,2022,12,6780793,5272178,20297,0,294,0,4312,134,82,0,24420,2,47.5,0,160

In [27]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5187 entries, 0 to 5186
Data columns (total 18 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   concelho                                   5187 non-null   object
 1   ano                                        5187 non-null   int64
 2   mes                                        5187 non-null   int64
 3   energia_ativa_baixa_tensao_kwh             5187 non-null   int64
 4   energia_ativa_alta_tensao_kwh              5187 non-null   int64
 5   cpes_domestico_baixa_tensao                5187 non-null   int64
 6   cpes_domestico_alta_tensao                 5187 non-null   int64
 7   cpes_iluminacao_publica_baixa_tensao       5187 non-null   int64
 8   cpes_iluminacao_publica_alta_tensao        5187 non-null   int64
 9   cpes_nao_domestico_baixa_tensao            5187 non-null   int64
 10  cpes_nao_domestico_alta_tensao             5187 non-null   int64
 11  cpes_outros_baixa_tensao                   5187 non-null   int64
 12  cpes_outros_alta_tensao                    5187 non-null   int64
 13  cpes_mobilidade_eletrica_nao_baixa_tensao  5187 non-null   int64
 14  cpes_mobilidade_eletrica_sim_baixa_tensao  5187 non-null   int64
 15  densidade_populacional_pessoas_km2         5187 non-null   float64
 16  num_industrias_extrativas                  5187 non-null   int64
 17  num_industrias_transformadoras             5187 non-null   int64
dtypes: float64(1), int64(16), object(1)
memory usage: 729.6+ KB

In [28]:
merged_df.describe()

,ano,mes,energia_ativa_baixa_tensao_kwh,energia_ativa_alta_tensao_kwh,cpes_domestico_baixa_tensao,cpes_domestico_alta_tensao,cpes_iluminacao_publica_baixa_tensao,cpes_iluminacao_publica_alta_tensao,cpes_nao_domestico_baixa_tensao,cpes_nao_domestico_alta_tensao,cpes_outros_baixa_tensao,cpes_outros_alta_tensao,cpes_mobilidade_eletrica_nao_baixa_tensao,cpes_mobilidade_eletrica_sim_baixa_tensao,densidade_populacional_pessoas_km2,num_industrias_extrativas,num_industrias_transformadoras
count,5187.000000,5187.000000,5.187000e+03,5.187000e+03,5187.000000,5187.000000,5187.000000,5187.0,5187.000000,5187.000000,5187.000000,5187.000000,5187.000000,5187.000000,5187.000000,5187.000000,5187.000000
mean,2022.842105,6.894737,6.518676e+06,6.888616e+06,18808.416426,0.040486,214.150183,0.0,4242.803933,95.497205,128.463852,0.365529,27371.181415,9.612300,314.549084,3.549451,243.047619
std,0.586137,3.712284,1.177996e+07,1.426511e+07,29413.928256,0.211279,194.193563,0.0,6873.077695,121.267530,205.717131,4.073821,46187.414907,25.397713,856.174544,7.986467,381.962040
min,2022.000000,1.000000,1.000680e+05,0.000000e+00,1042.000000,0.000000,7.000000,0.0,174.000000,0.000000,1.000000,0.000000,1144.000000,0.000000,4.300000,0.000000,8.000000
25%,2022.000000,3.000000,1.266728e+06,4.113695e+05,4580.500000,0.000000,91.000000,0.0,1101.000000,28.000000,20.500000,0.000000,6151.000000,2.000000,24.700000,0.000000,43.000000
50%,2023.000000,8.000000,2.625888e+06,1.824003e+06,8935.000000,0.000000,141.000000,0.0,1990.000000,51.000000,53.000000,0.000000,11544.000000,2.000000,66.400000,1.000000,91.000000
75%,2023.000000,10.000000,7.113475e+06,5.962718e+06,21437.000000,0.000000,280.000000,0.0,4900.000000,119.000000,155.000000,0.000000,30042.000000,6.000000,176.700000,4.000000,246.000000
max,2024.000000,12.000000,1.641353e+08,1.279470e+08,312095.000000,2.000000,1185.000000,0.0,79984.000000,1229.000000,2186.000000,75.000000,530262.000000,388.000000,7310.100000,87.000000,2531.000000

### Guardar num ficheiro com concelho

In [29]:
file_path = data_path + 'treated/merged-dataset-concelho-industria.csv'

merged_df.to_csv(file_path, index=False)

print("DataFrame guardado em ", file_path)

DataFrame guardado em  ../data/treated/merged-dataset-concelho-industria.csv

### Guardar num ficheiro sem concelho

In [30]:
file_path = data_path + 'treated/merged-dataset-industria.csv'

merged_df.drop(columns=['concelho'], inplace=True)

merged_df.to_csv(file_path, index=False)

print("DataFrame guardado em ", file_path)

DataFrame guardado em  ../data/treated/merged-dataset-industria.csv